
/* header */
.header {
    background: #FFF;
    height: 60px;
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15); 
}

.header::after {
    clear: both;
    display: block;
    content: ''; 
}

.sticky-header .logo {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    z-index: 100;
    text-align: center; 
}
  
.logo h1 {
    margin: 0; 
}

.sticky-header {
    position: fixed;
    top: 0;
    left: 0px;
    right: 0;
    z-index: 1; 
}

.sticky-header .main-content {
    padding-top: 40px; 
}

.sticky-header .menu-right {
    margin-right: 5px; 
}

.sticky-header.sidebar-menu-collapsed .header {
    left: 60px; 
}

.sticky-header.sidebar-menu-collapsed .menu-right {
    margin-right: 0; 
}

.sticky-header.sidebar-menu-collapsed footer.dashboard {
    left: 52px; 
}

.menu-right {
    margin: 0; 
}

/* user-panel */
.user-panel-top {
    display: grid;
    grid-auto-flow: column;
    justify-content: end; 
}

.user-panel-top li {
    float: left;
    margin-left: 25px;
    position: relative; 
}

.user-panel-top li span.digit {
    font-size: 11px;
    font-weight: bold;
    color: #FFF;
    background: #e64c65;
    line-height: 20px;
    width: 20px;
    height: 20px;
    border-radius: 2em;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    -o-border-radius: 2em;
    text-align: center;
    display: inline-block;
    position: absolute;
    top: -3px;
    right: -10px; 
}

.user-panel-top li:first-child {
    margin-left: 0; 
}

.user-panel-top li a {
    display: block;
    text-decoration: none; 
}

.user-panel-top li a i:hover {
    opacity: 1;
    transition: 0.3s ease; 
}

.user-panel-top li a i span {
    font-size: 15px;
    color: #FFF; 
}

.user-panel-top li a.user {
    background: #667686; 
}

.user-panel-top li span.green {
    background: #a88add; 
}

.user-panel-top li span.red {
    background: #b8c9f1; 
}

.user-panel-top li span.yellow {
    background: #bdc3c7; 
}

header {
    padding: 15px 0;
    background-color: #1b2740; 
}

/* search-box */
.search-box form {
    position: relative; 
}

input#search {
    width: 100%;
    border: 1px solid var(--light-bg-color);
    outline: none;
    font-size: 15px;
    line-height: 24px;
    padding: 7px 15px;
    padding-right: 25px;
    border-radius: 4px;
    background-color: #eee; }
  
  input#search:focus {
    opacity: 1;
    border: 1px solid var(--primary);
    background-color: #fff; }

/* search-input */
.sb.search-input {
    position: absolute;
    border: none;
    outline: none;
    background: #6DBEE8;
    width: 88%;
    height: 30px;
    margin: 0;
    z-index: 10;
    font-size: 13px;
    color: #FFFFFF;
    padding: 0 1em; 
}
  
  .sb-search-input::-webkit-input-placeholder {
    color: #FFFFFF; }
  
  .sb-search-input:-moz-placeholder {
    color: #ffffff; }
  
  .sb-search-input::-moz-placeholder {
    color: #efb480; }
  
  .sb-search-input:-ms-input-placeholder {
    color: #ffffff; 
}

button.search-submit {
    background: none;
    border: none;
    outline: none;
    color: #333;
    height: 30px;
    width: 10px;
    cursor: pointer; 
}



@media (max-width: 580px) {
    .content-top-gap {
      margin-top: 120px; }
    .user-panel-top {
      grid-auto-flow: row; }
    .search-box {
      order: 2;
      margin-top: 15px; }
    .user-dropdown-details {
      order: 1; }
    .header {
      height: 120px; } 
}

